<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroEmpServlet</servlet-name>
        <servlet-class>Servlets.CadastroEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroCliServlet</servlet-name>
        <servlet-class>Servlets.CadastroCliServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCliServlet</servlet-name>
        <servlet-class>Servlets.EditarCliServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizaBikeServlet</servlet-name>
        <servlet-class>Servlets.VisualizaBikeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciaMenuServlet</servlet-name>
        <servlet-class>Servlets.IniciaMenuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciaEditarServlet</servlet-name>
        <servlet-class>Servlets.IniciaEditarServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciaListaBikesServlet</servlet-name>
        <servlet-class>Servlets.IniciaListaBikesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluiItemServlet</servlet-name>
        <servlet-class>Servlets.ExcluiItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GerarPdfServlet</servlet-name>
        <servlet-class>Servlets.GerarPdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEmpServlet</servlet-name>
        <servlet-class>Servlets.EditarEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SairServlet</servlet-name>
        <servlet-class>Servlets.SairServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoverFavServlet</servlet-name>
        <servlet-class>Servlets.RemoverFavServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroEmpServlet</servlet-name>
        <url-pattern>/CadastroEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroCliServlet</servlet-name>
        <url-pattern>/CadastroCliServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCliServlet</servlet-name>
        <url-pattern>/EditarCliServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizaBikeServlet</servlet-name>
        <url-pattern>/VisualizaBikeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciaMenuServlet</servlet-name>
        <url-pattern>/IniciaMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciaEditarServlet</servlet-name>
        <url-pattern>/IniciaEditarServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciaListaBikesServlet</servlet-name>
        <url-pattern>/IniciaListaBikesServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluiItemServlet</servlet-name>
        <url-pattern>/ExcluiItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GerarPdfServlet</servlet-name>
        <url-pattern>/GerarPdfServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEmpServlet</servlet-name>
        <url-pattern>/EditarEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SairServlet</servlet-name>
        <url-pattern>/SairServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoverFavServlet</servlet-name>
        <url-pattern>/RemoverFavServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
