<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroEmpServlet</servlet-name>
        <servlet-class>Servlets.CadastroEmpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroCliServlet</servlet-name>
        <servlet-class>Servlets.CadastroCliServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCliServlet</servlet-name>
        <servlet-class>Servlets.EditarCliServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizaBike</servlet-name>
        <servlet-class>Servlets.VisualizaBike</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IniciaMenuServlet</servlet-name>
        <servlet-class>Servlets.IniciaMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroEmpServlet</servlet-name>
        <url-pattern>/CadastroEmpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroCliServlet</servlet-name>
        <url-pattern>/CadastroCliServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCliServlet</servlet-name>
        <url-pattern>/EditarCliServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizaBike</servlet-name>
        <url-pattern>/VisualizaBike</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IniciaMenuServlet</servlet-name>
        <url-pattern>/IniciaMenuServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
